<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Newsletter</title>
    
</head>
<body>
    <div class="container">
        <h1>Bem-vindo!</h1>
        <form action="#" method="post" id="newsletterForm">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" required>
            <input type="submit" value="Assinar" >
        </form>
    </div>
</body>
</html>
